# Get rid of .venv when copying
.venv
.venv/**
.vscode
.vscode/**
.pytest_cache
.git
.git/**
.git/**/*
.venv/**/*
**/.venv
**/.git
**/.vscode
.env
.env.example
.coverage
notes.txt
HOW TO DEBUG THIS
debug.py
.gitignore
**/**.ipynb

