__pycache__
app.egg-info

.ruff_cache
.mypy_cache
.coverage
htmlcov
.venv
*.py[co]
*.egg
*.egg-info
*.ipynb
!BasicAPITests.ipynb
*.code-workspace
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.s3cfg

OrchestratorSwaggerAutoGen
CURLGeneratePyCode

HOW TO DEBUG THIS
notes.txt
.env
